<div class="sidebar">
  <ul class="sidebar-menu">
    <li *ngFor="let item of menuItems" class="sidebar-menu-item" [routerLink]="item.route" routerLinkActive="active" [title]="item.title">
      <div class="sidebar-menu-item-content">
        <i [class]="item.icon"></i>
      </div>
    </li>
  </ul>
  
  <!-- Versión en la parte inferior -->
  <div class="version-info">
    <span class="version-number">v{{ version.number }}</span>
    <span class="build-number">build {{ version.build }}</span>
    <span class="commit-hash">{{ version.commit }}</span>
    <span class="commit-date">{{ version.date }}</span>
  </div>
</div>